
/* Arquivo corrigido baseado em sugestões de performance e boas práticas */

.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}


.app-header-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
  animation: neonBoxPulse 2s infinite, glitch 0.5s infinite alternate;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.app-header-avatar:hover {
  box-shadow: 0 0 2rem $primary-color, 0 0 1rem $primary-color, 0 0 1rem $primary-color;
  transform: scale(1.1);
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: $lightest-color;

  a:not(:last-child) {
    margin-right: 0.4em;
  }
}

.app-header-title {
  color: $lightest-color;
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
  text-shadow: 0 0 0.25rem #00ff00, 0 0 0.5rem #00ff00, 0 0 0.25rem #00ff00;
  animation: neonTextPulse 2s infinite alternate;
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
}
