{{ define "main" }}
  <article>
    <!-- Exibe o título da seção, se houver -->
    {{ with .Title -}}<h1>{{- . -}}</h1>{{- end }}
    
    <!-- Exibe o conteúdo de descrição da seção -->
    {{ with .Content -}}<div class="section-description">{{- . -}}</div>{{- end }}

    <!-- Lista as páginas dentro da seção 'texts' -->
    <ul class="posts-list">
      {{ range .Pages }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
        </li>
      {{ end }}
    </ul>

    <!-- Adiciona a navegação de páginas -->
    {{ partial "pagination.html" . }}
  </article>
{{ end }}
